.data {
    background-color: rgb(216, 216, 216);
    margin-top: 2em;
    box-shadow: 0 0 10px #000000;
    border-radius: 15px;
    width: 70%;
    height: max-content;
    padding: 6px;
    margin: auto;
    margin-top: 18px
}

.entered {
    border-bottom: 2px solid rgb(131, 131, 131);
    padding: 8px;
    padding-left: 38px;
}

.artist {
    font-size: 14px;
    font-weight: 300;
}

.name {
    font-size: 16px;
    font-weight: 523;
}

.btn {
    background-color: rgb(42, 42, 83);
    margin: 1.2rem;
}

.data p {
    font-size: 11px;
    color: whitesmoke;
}