p {
    color: black;
    font-size: 15%;
}

.about {
    display: flex;
    justify-content: center;
    max-height: 560px;
}

.about2 {
    display: flex;
    justify-content: center;
    max-height: 323px;
}

.text {
    margin: 6rem 10rem 4rem 2rem;
    border: 1px solid grey;
    float: right;
    background-color:rgb(42, 42, 83);
    border-radius: 18px;
    color: rgb(209, 214, 214);
    padding: 2rem;
    font-size: 1.1vw;
}

.text:hover {
    background-color: rgb(56, 66, 93);
    color: rgb(209, 214, 214);
    /* box-shadow: 6px 6px 12px black; */
}

.img1 {
    height: auto;
    float: left;
    max-width: 45%;
    margin: 2rem 2rem 2rem 10rem;
    box-shadow: 6px 6px 12px black;
}

.img12 {
    max-width: 52%;
    /* float: right; */
    float: right;
    height: 320px;
    margin: 2rem 11rem 0rem 4rem;
    box-shadow: 4px 6px 6px 8px black;
}

.text2 {
    margin: 4rem 0rem 1rem 10rem;
    border: 1px solid grey;
    float: right;
    background-color:rgb(42, 42, 83);
    border-radius: 18px;
    color: rgb(209, 214, 214);
    padding: 2.2rem;
    font-size: 1.1vw;
}

.text2:hover {
    background-color: rgb(56, 66, 93);
    color: rgb(209, 214, 214);
    /* box-shadow: 6px 6px 12px black; */
}
