p {
    color: black;
    font-size: 20px;
}

.aboutus {
    display: flex;
    justify-content: center;
}

.text {
    margin: 1rem 7rem 0 7rem;
    border: 1px solid grey;
    background-color: rgb(226, 224, 224);
    padding: 1rem;
}

.about {
    height: 540px; 
}

.img1 {
    height: 370px;
    width: 100%;
}
