ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0.2rem;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(122, 43, 43);
  box-shadow: 4px 2px 5px gray;
  color: rgb(205, 194, 181);
  padding: 1.4rem 2rem;
  height: 5.7rem;
  width: 100%;
}

.navBar button {
  background: transparent;
  border: 2px solid rgb(205, 194, 181);
  color: rgb(205, 194, 181);
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 1.5rem;
}

b {
  color: rgb(205, 194, 181);
}
