.images {
    display: flex;
    justify-content: center;
    /* gap: 12px; */
    height: 500px;
    margin: 3rem;
}

.img2 {
    width: 631px;
    height: 500px;
}

.img3 {
    width: 581px;
    height: 500px;
}

.choose {
    border: 1px solid grey;
    margin: 3rem 23rem 0 23rem;
    background-color: black;
    color: rgb(209, 214, 214);
    padding: 1rem;
}

.choose:hover {
    background-color: rgb(79, 47, 47);
    color: rgb(209, 214, 214);
}

 .btn {
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
    /* height: 500px;
    padding-top: 30rem; */
    /* position: absolute; 
    top: 10%;
    left: 30%;
    transform: translate(0,50%,0,0); */
} 

.btn:hover {
    background-color: rgb(79, 47, 47);
}

.service {
    padding-top: 4rem;
}

